.container{
  display: grid;
  grid-template-areas: 
  'search-bar search-bar search-bar search-bar'
  'video-player video-player video-player video-list'
  'video-player video-player video-player video-list';
}

.search-bar{
  grid-area: search-bar;
}

.video-list{
  grid-area: video-list;
  padding: 15px;
}

.video-player{
  grid-area: video-player;
  padding: 15px;
}

.video-title{
  font-weight: 600;
  color: orange;
  padding: 10px;
}

.video-desc{
  color: rgb(255, 81, 0);
  padding: 10px;
}
